<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js and the geo projection plugin -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- Create an element where the map will take place -->
<svg id="chart1" width="630" height="350"></svg>

<script>

    // The svg
    var svg1 = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");
    
    // Map and projection
    var projection1 = d3.geoMercator()
        .center([-77.586694, 43.163275]) // GPS of location to zoom on
        .scale(99) // This is like the zoom
        .translate([ width/2, height/2 ])
    
    d3.queue()
      .defer(d3.csv, "data/beerStyle.csv")  // Position of circles
      .defer(d3.json, "templates/countries.geojson") // World shape
      .await(ready);
    
    function ready(error, dataGeo, data) {
    
      // Create a color scale
      var allContinent = d3.map(data, function(d){return(d.homecontinent)}).keys()
      var color1 = d3.scaleOrdinal()
        .domain(allContinent)
        .range(d3.schemePaired);
    
      // Add a scale for bubble size
      var breweryLocations = d3.extent(data, function(d) { return +d.n; })
      var size1 = d3.scaleSqrt()
        .domain(Location)  // What's in the data
        .range([ 1, 50])  // Size in pixel
    
      // Draw the map
      svg1.append("g")
          .selectAll("path")
          .data(dataGeo.features)
          .enter()
          .append("path")
            .attr("fill", "#b8b8b8")
            .attr("d", d3.geoPath()
                .projection(projection)
            )
          .style("stroke", "none")
          .style("opacity", .3)
    
      // Add circles:
      svg1
        .selectAll("myCircles")
        .data(data.sort(function(a,b) { return +b.n - +a.n }).filter(function(d,i){ return i<1000 }))
        .enter()
        .append("circle")
          .attr("cx", function(d){ return projection([+d.homelon, +d.homelat])[0] })
          .attr("cy", function(d){ return projection([+d.homelon, +d.homelat])[1] })
          .attr("r", function(d){ return size(+d.n) })
          .style("fill", function(d){ return color(d.homecontinent) })
          .attr("stroke", function(d){ if(d.n>2000){return "black"}else{return "none"}  })
          .attr("stroke-width", 1)
          .attr("fill-opacity", .4)
    
    
    
      // Add title and explanation
      svg1
        .append("text")
          .attr("text-anchor", "end")
          .style("fill", "black")
          .attr("x", width - 10)
          .attr("y", height - 30)
          .attr("width", 90)
          .html("Brewery Locations")
          .style("font-size", 14)
    
    
      // --------------- //
      // ADD LEGEND //
      // --------------- //
    
      // Add legend: circles
      var valuesToShow1 = [100,4000,15000]
      var xCircle1 = 40
      var xLabel1 = 90
      svg1
        .selectAll("legend")
        .data(valuesToShow)
        .enter()
        .append("circle")
          .attr("cx", xCircle)
          .attr("cy", function(d){ return height - size(d) } )
          .attr("r", function(d){ return size(d) })
          .style("fill", "none")
          .attr("stroke", "black")
    
      // Add legend: segments
      svg1
        .selectAll("legend")
        .data(valuesToShow)
        .enter()
        .append("line")
          .attr('x1', function(d){ return xCircle + size(d) } )
          .attr('x2', xLabel)
          .attr('y1', function(d){ return height - size(d) } )
          .attr('y2', function(d){ return height - size(d) } )
          .attr('stroke', 'black')
          .style('stroke-dasharray', ('2,2'))
    
      // Add legend: labels
      svg1
        .selectAll("legend")
        .data(valuesToShow)
        .enter()
        .append("text")
          .attr('x', xLabel)
          .attr('y', function(d){ return height - size(d) } )
          .text( function(d){ return d } )
          .style("font-size", 10)
          .attr('alignment-baseline', 'middle')
    }
    
    </script>


<!-- Create a div where the graph will take place -->
<div id="chart2"></div>

<!-- A bit of CSS: change stroke color of circle on hover (white -> black) -->
<style>
.bubbles {
  stroke-width: 1px;
  stroke: black;
  opacity: .8
}
.bubbles:hover {
  stroke: black;
}
</style>

<script>

    // set the dimensions and margins of the graph
    var margin1 = {top: 40, right: 150, bottom: 60, left: 30},
        width = 500 - margin.left - margin.right,
        height = 420 - margin.top - margin.bottom;
    
    // append the svg object to the body of the page
    var svg2 = d3.select("chart2")
      .append("svg2")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
    
    //Read the data
    d3.csv("data/beerStyle.csv", function(data) {
    
      // ---------------------------//
      //       AXIS  AND SCALE      //
      // ---------------------------//
    
      // Add X axis
      var x = d3.scaleLinear()
        .domain([0, 45000])
        .range([ 0, width ]);
      svg2.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).ticks(3));
    
      // Add X axis label:
      svg2.append("text")
          .attr("text-anchor", "end")
          .attr("x", width)
          .attr("y", height+50 )
          .text("Beer Style");
    
      // Add Y axis
      var y = d3.scaleLinear()
        .domain([35, 90])
        .range([ height, 0]);
      svg2.append("g")
        .call(d3.axisLeft(y));
    
      // Add Y axis label:
      svg2.append("text")
          .attr("text-anchor", "end")
          .attr("x", 0)
          .attr("y", -20 )
          .text("Min/Max of Characteristics")
          .attr("text-anchor", "start")
    
      // Add a scale for bubble size
      var z = d3.scaleSqrt()
        .domain([200000, 1310000000])
        .range([ 2, 30]);
    
      // Add a scale for bubble color
      var myColor1 = d3.scaleOrdinal()
        .domain(["ibuMin", "ibuMax", "abvMin", "abvMax", "srmMin", "srmMax", "ogMin", "ogMax", "fgMin", "fgMax"])
        .range(d3.schemeSet1);
    
    
      // ---------------------------//
      //      TOOLTIP               //
      // ---------------------------//
    
      // -1- Create a tooltip div that is hidden by default:
      var tooltip = d3.select("chart2")
        .append("div")
          .style("opacity", 0)
          .attr("class", "tooltip")
          .style("background-color", "black")
          .style("border-radius", "5px")
          .style("padding", "10px")
          .style("color", "white")
    
      // -2- Create 3 functions to show / update (when mouse move but stay on same circle) / hide the tooltip
      var showTooltip = function(d) {
        tooltip
          .transition()
          .duration(200)
        tooltip
          .style("opacity", 1)
          .html("Characteristics: " + d.characteristics)
          .style("left", (d3.mouse(this)[0]+30) + "px")
          .style("top", (d3.mouse(this)[1]+30) + "px")
      }
      var moveTooltip = function(d) {
        tooltip
          .style("left", (d3.mouse(this)[0]+30) + "px")
          .style("top", (d3.mouse(this)[1]+30) + "px")
      }
      var hideTooltip = function(d) {
        tooltip
          .transition()
          .duration(200)
          .style("opacity", 0)
      }
    
    
      // ---------------------------//
      //       HIGHLIGHT GROUP      //
      // ---------------------------//
    
      // What to do when one group is hovered
      var highlight = function(d){
        // reduce opacity of all groups
        d3.selectAll(".bubbles").style("opacity", .05)
        // expect the one that is hovered
        d3.selectAll("."+d).style("opacity", 1)
      }
    
      // And when it is not hovered anymore
      var noHighlight = function(d){
        d3.selectAll(".bubbles").style("opacity", 1)
      }
    
    
      // ---------------------------//
      //       CIRCLES              //
      // ---------------------------//
    
      // Add dots
      svg2.append('g')
        .selectAll("dot")
        .data(data)
        .enter()
        .append("circle")
          .attr("class", function(d) { return "bubbles " + d.continent })
          .attr("cx", function (d) { return x(d.gdpPercap); } )
          .attr("cy", function (d) { return y(d.lifeExp); } )
          .attr("r", function (d) { return z(d.pop); } )
          .style("fill", function (d) { return myColor(d.continent); } )
        // -3- Trigger the functions for hover
        .on("mouseover", showTooltip )
        .on("mousemove", moveTooltip )
        .on("mouseleave", hideTooltip )
    
    
    
        // ---------------------------//
        //       LEGEND              //
        // ---------------------------//
    
        // Add legend: circles
        var valuesToShow1 = [10000000, 100000000, 1000000000]
        var xCircle = 390
        var xLabel = 440
        svg2
          .selectAll("legend")
          .data(valuesToShow1)
          .enter()
          .append("circle")
            .attr("cx", xCircle)
            .attr("cy", function(d){ return height - 100 - z(d) } )
            .attr("r", function(d){ return z(d) })
            .style("fill", "none")
            .attr("stroke", "black")
    
        // Add legend: segments
        svg2
          .selectAll("legend")
          .data(valuesToShow1)
          .enter()
          .append("line")
            .attr('x1', function(d){ return xCircle + z(d) } )
            .attr('x2', xLabel)
            .attr('y1', function(d){ return height - 100 - z(d) } )
            .attr('y2', function(d){ return height - 100 - z(d) } )
            .attr('stroke', 'black')
            .style('stroke-dasharray', ('2,2'))
    
        // Add legend: labels
        svg2
          .selectAll("legend")
          .data(valuesToShow)
          .enter()
          .append("text")
            .attr('x', xLabel)
            .attr('y', function(d){ return height - 100 - z(d) } )
            .text( function(d){ return d/1000000 } )
            .style("font-size", 10)
            .attr('alignment-baseline', 'middle')
    
        // Legend title
        svg2.append("text")
          .attr('x', xCircle)
          .attr("y", height - 100 +30)
          .text("Population (M)")
          .attr("text-anchor", "middle")
    
        // Add one dot in the legend for each name.
        var size = 20
        var allgroups = ["ibuMin", "ibuMax", "abvMin", "abvMax", "srmMin", "srmMax", "ogMin", "ogMax", "fgMin", "fgMax"]
        svg2.selectAll("myrect")
          .data(allgroups)
          .enter()
          .append("circle")
            .attr("cx", 390)
            .attr("cy", function(d,i){ return 10 + i*(size+5)}) // 100 is where the first dot appears. 25 is the distance between dots
            .attr("r", 7)
            .style("fill", function(d){ return myColor(d)})
            .on("mouseover", highlight)
            .on("mouseleave", noHighlight)
    
        // Add labels beside legend dots
        svg2.selectAll("mylabels")
          .data(allgroups)
          .enter()
          .append("text")
            .attr("x", 390 + size*.8)
            .attr("y", function(d,i){ return i * (size + 5) + (size/2)}) // 100 is where the first dot appears. 25 is the distance between dots
            .style("fill", function(d){ return myColor(d)})
            .text(function(d){ return d})
            .attr("text-anchor", "left")
            .style("alignment-baseline", "middle")
            .on("mouseover", highlight)
            .on("mouseleave", noHighlight)
      })
    </script>


<!-- Create a div where the graph will take place -->
<div id="chart3"></div>

<script>
//Brewery_type

    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 30, bottom: 90, left: 40},
        width = 460 - margin.left - margin.right,
        height = 450 - margin.top - margin.bottom;
    
    // append the svg object to the body of the page
    var svg3 = d3.select("chart3")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
    
    // Parse the Data
    d3.csv("data/breweryLocations.csv", function(data) {
    
    // X axis
    var x = d3.scaleBand()
      .range([ 0, width ])
      .domain(data.map(function(d) { return d.Country; }))
      .padding(0.2);
    svg3.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
      .selectAll("text")
        .attr("transform", "translate(-10,0)rotate(-45)")
        .style("text-anchor", "end");
    
    // Add Y axis
    var y = d3.scaleLinear()
      .domain([0, 13000])
      .range([ height, 0]);
    svg3.append("g")
      .call(d3.axisLeft(y));
    
    // Bars
    svg3.selectAll("mybar")
      .data(data)
      .enter()
      .append("rect")
        .attr("x", function(d) { return x(d.Country); })
        .attr("width", x.bandwidth())
        .attr("fill", "#69b3a2")
        // no bar at the beginning thus:
        .attr("height", function(d) { return height - y(0); }) // always equal to 0
        .attr("y", function(d) { return y(0); })
    
    // Animation
    svg3.selectAll("rect")
      .transition()
      .duration(800)
      .attr("y", function(d) { return y(d.Value); })
      .attr("height", function(d) { return height - y(d.Value); })
      .delay(function(d,i){console.log(i) ; return(i*100)})
    
    })
    
    </script>